<div class="profile-container mt-5" *ngIf="user">
  <h2 class="profile-title">Mi perfil</h2>

  <div *ngIf="!editMode">
    <p><strong>Usuario:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <button class="btn btn-ds" (click)="editMode = true">Editar perfil</button>
  </div>

  <div *ngIf="editMode">
    <form [formGroup]="profileForm" (ngSubmit)="saveChanges()">
      <div class="mb-3">
        <label for="username" class="form-label">Usuario</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="form-control input-ds"
          [class.is-invalid]="f['username'].touched && f['username'].invalid"
          placeholder="Deja vacío para no cambiar"
        />
        <div *ngIf="f['username'].touched && f['username'].invalid" class="error">
          El nombre de usuario es no es valido.
        </div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control input-ds"
          [class.is-invalid]="f['email'].touched && f['email'].invalid"
          placeholder="Deja vacío para no cambiar"
        />
        <div *ngIf="f['email'].touched && f['email'].errors" class="error">
          <div *ngIf="f['email'].errors['email']">Introduce un correo válido.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control input-ds"
          [class.is-invalid]="
            (f['password'].touched && f['password'].invalid) ||
            (profileForm.errors?.['mismatch'] && (f['password'].touched || f['confirmPassword'].touched))
          "
          placeholder="Deja vacío para no cambiar"
        />
        <div *ngIf="f['password'].touched && f['password'].errors" class="error">
          <div *ngIf="f['password'].errors?.['pattern']">
            Debe tener al menos 6 caracteres, una mayúscula, un número y un carácter especial.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          class="form-control input-ds"
          [class.is-invalid]="
            (f['confirmPassword'].touched && f['confirmPassword'].invalid) ||
            (profileForm.errors?.['mismatch'] && (f['password'].touched || f['confirmPassword'].touched))
          "
          placeholder="Deja vacío para no cambiar"
        />
        <div *ngIf="profileForm.errors?.['mismatch'] && (f['confirmPassword'].touched || f['password'].touched)" class="error">
          Las contraseñas no coinciden.
        </div>
      </div>

      <div class="container-buttons">
        <button type="submit" class="btn btn-ds-save" [disabled]="profileForm.invalid || isLoading">
          <ng-container *ngIf="!isLoading; else loadingSpinner">
            Guardar cambios
          </ng-container>
          <ng-template #loadingSpinner>
            <div class="spinner-border spinner-border-sm text-light" role="status">
              <span class="visually-hidden"></span>
            </div>
          </ng-template>
        </button>
        <button type="button" class="btn btn-ds-cancel ms-2" (click)="editMode = false">Cancelar</button>
      </div>
    </form>
    <app-custom-modal
      *ngIf="showModal"
      [title]="modalConfig.title"
      [message]="modalConfig.message"
      [buttonText]="modalConfig.buttonText"
      (close)="onModalClose()"
    ></app-custom-modal>

  </div>
</div>