<div *ngIf="!isLoggedIn" class="login-box d-flex flex-column gap-2">
  <a class="btn souls-btn" routerLink="/login">Iniciar sesión</a>
  <a class="btn souls-btn alt" routerLink="/register">Registrarse</a>
</div>

<div *ngIf="isLoggedIn" class="login-box dropdown">
  <button class="btn souls-btn dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
    {{ username }}
  </button>
  <ul class="dropdown-menu dropdown-menu-end bg-dark text-light border-secondary" aria-labelledby="userDropdown">
    <li><a class="dropdown-item text-light" routerLink="/profile">Mi perfil</a></li>
    <li><a class="dropdown-item text-light" routerLink="/bestiary">Bestiario</a></li>
    <li><hr class="dropdown-divider bg-secondary"></li>
    <li><a class="dropdown-item text-light" href="#" (click)="logout(); $event.preventDefault()">Cerrar sesión</a></li>
  </ul>
</div>
