<div class="souls-section-wrapper">
    <div class="souls-menu-container">
        <h1 class="souls-title">Soulsdle</h1>
        <a routerLink="/daily" class="souls-menu-option">Daily</a>
        <a routerLink="/infinite" class="souls-menu-option">Infinite</a>
        <a routerLink="/music-guess" class="souls-menu-option">Music Guess</a>
        <a routerLink="/music-guess-infinite" class="souls-menu-option">Music Infinite</a>
    </div>
    <div class="corner-images">
        <img src="assets/white-bonfire.gif" alt="Bonfire" class="bonfire-gif">
        <img src="assets/knight.gif" alt="Knight" class="knight-img">
  </div>
</div>
