<div class="d-flex flex-column min-vh-100">
  <app-menu-bar *ngIf="showMenuBar"></app-menu-bar>
  <main class="main-bg flex-grow-1 d-flex justify-content-center align-items-center">
    <!-- Modal de sesión expirada -->
    <app-custom-modal
    *ngIf="showModal"
    [title]="modalConfig.title"
    [message]="modalConfig.message"
    [buttonText]="modalConfig.buttonText"
    (close)="onSessionModalClose()"
  ></app-custom-modal>
    <div class="contenido-principal">
      <router-outlet></router-outlet>
    </div>
  </main>  

  <app-footer></app-footer>
</div>
