.contenido-principal {
  max-width: 100%;
  width: 100%;
}

.main-bg {
  background-image: url('/assets/bg-base.png');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  background-color: black;
}

.animated-modal {
  animation: slideDown 0.4s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
  