<div class="container mt-4">
    <h2>Registro</h2>
    <form (ngSubmit)="onRegister()" [formGroup]="registerForm" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Nombre de usuario</label>
        <input type="text" id="username" formControlName="username" class="form-control" required />
        <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="text-danger">
          El nombre de usuario es obligatorio.
        </div>
      </div>
  
      <div class="mb-3">
        <label for="email" class="form-label">Correo</label>
        <input type="email" id="email" formControlName="email" class="form-control" required />
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger">
          <div *ngIf="registerForm.get('email')?.errors?.['required']">El correo es obligatorio.</div>
          <div *ngIf="registerForm.get('email')?.errors?.['email']">El correo no es válido.</div>
        </div>
      </div>
  
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" id="password" formControlName="password" class="form-control" required />
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger">
          <div *ngIf="registerForm.get('password')?.errors?.['required']">
            La contraseña es obligatoria.
          </div>
          <div *ngIf="registerForm.get('password')?.errors?.['pattern']">
            La contraseña debe tener al menos 6 caracteres, una mayúscula, un número y un carácter especial.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" required />
        <div *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched" class="text-danger">
          Las contraseñas no coinciden.
        </div>
      </div>      
  
      <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid || showModal || isLoading">
        <span *ngIf="!isLoading">Registrarse</span>
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span *ngIf="isLoading"> Cargando...</span>
      </button>


    </form>
  </div>
  
  <app-custom-modal
    *ngIf="showModal"
    [title]="modalConfig.title"
    [message]="modalConfig.message"
    [buttonText]="modalConfig.buttonText"
    (close)="onModalClose()"
  ></app-custom-modal>
  