<div class="container mt-4">
  <h2 class="text-center mb-4">Ranking de usuarios</h2>
  <div class="table-responsive">
    <table class="table table-dark table-striped table-bordered">
      <thead>
        <tr>
          <th>Posicion</th>
          <th>Usuario</th>
          <th>Bosses adivinados</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of ranking | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; let i = index">
          <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.bossesCount }}</td>
        </tr>
      </tbody>
    </table>
  </div>

    <app-paginator
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="ranking.length"
    (pageChange)="currentPage = $event"
  ></app-paginator>
</div>
