<div class="container mt-4">
    <div *ngIf="streak >= 1" class="mb-3 streak">
    🔥 Racha actual: <strong>{{ streak }}</strong>
    </div>
    <h2>Boss diario</h2>
    <app-boss-search *ngIf="!solved" [attempts]="attempts" (selectedBoss)="onBossSelected($event)"></app-boss-search>
  
    <div class="table-responsive" *ngIf="attempts.length > 0">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Juego</th>
            <th>Vida</th>
            <th>Almas</th>
            <th>Área</th>
            <th>Figuras</th>
            <th>Altura</th>
            <th>Dificultad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attempt of attempts.slice().reverse()" [ngClass]="{ 'table-success': attempt.image === boss.image }">
            <td
              [ngClass]="isMatch('image', attempt) ? 'bg-success text-white' : 'bg-danger text-white'"
              style="width: 80px; height: 80px; padding: 0;"
            >
              <img
                *ngIf="attempt.image"
                [src]="attempt.image"
                alt="Imagen"
                class="fixed-img"
              />
            </td>
            <td [ngClass]="isMatch('name', attempt) ? 'bg-success text-white' : 'bg-danger text-white'">
              {{ attempt.name }}
            </td>
            <td [ngClass]="isMatch('game', attempt) ? 'bg-success text-white' : 'bg-danger text-white'">
              {{ attempt.game }}
            </td>
            <td [ngClass]="{ 'bg-success text-white': attempt.health === boss.health }">
                {{ attempt.health }}
                <span [innerHTML]="compareHealth(attempt)"></span>
            </td>              
            <td [ngClass]="{ 'bg-success text-white': attempt.souls === boss.souls }">
                {{ attempt.souls }}
                <span [innerHTML]="compareSouls(attempt)"></span>
            </td>
            <td [ngClass]="isMatch('area', attempt) ? 'bg-success text-white' : 'bg-danger text-white'">
                {{ attempt.area }}
            </td>
            <td [ngClass]="getFiguresClass(attempt)">
              {{ attempt.figures?.join(', ') }}
            </td>
                        
            <td [ngClass]="isMatch('height', attempt) ? 'bg-success text-white' : 'bg-danger text-white'">
                {{ attempt.height }}
            </td>
            <td [ngClass]="isMatch('difficulty', attempt) ? 'bg-success text-white' : 'bg-danger text-white'">
              {{ attempt.difficulty }}
            </td>
          </tr>
        </tbody>
      </table>      
     </div>
    <div *ngIf="solved" class="alert alert-success">¡Correcto! Has adivinado el boss del día 🎉<br>Próximo boss en: <strong>{{ resetCountdown }}</strong></div>
  </div>
  <app-custom-modal
  *ngIf="showModal && !isLoggedIn"
  [title]="'¡Has acertado!'"
  [message]="'Si quieres guardar tu racha y aparecer en los rankings, por favor inicia sesión.'"
  [buttonText]="'Ir a Iniciar Sesion'"
  [showCheckbox]="true"
  (close)="onModalClose($event)"
  (dontRemind)="handleDontRemind($event)">
</app-custom-modal>

  